--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1+cu113

segmentation-models-pytorch
opencv-python
matplotlib
imagecodecs
tifffile
napari[all]
scikit-learn
readlif
czitools==0.4.1
czifile
npe2
